// Raw Palette
$moss: #2B352C;
$prarie-grass: #695D47;
$coffee: #896C4A;
$autumn: #8E511B;
$snake: #479553;
$sand: #B6A48C;
$wheat: #D3C6B5;
$base-black: #0e0e0e;
$base-white: #efefef;

// Skill Colors
$prog: #7534be;
$data: #64be34;
$desn: #be8734;
$tool: #3485be;

// Semantic Mappings (Moved from style.scss)
$color-bg: $wheat;       
$color-border: $prarie-grass;   
$color-text: $moss;     
$color-accent: $sand;   
$color-light: #e6dede;