@font-face {
    font-family: 'Maple Mono NF';
    src: url('/fonts/MapleMono-NF-Regular.woff2') format('woff2'),
        url('/fonts/MapleMono-NF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}