@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes snake-top-flow {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes snake-right-flow {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

@keyframes snake-bottom-flow {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes snake-left-flow {
  0% { transform: translateY(100%); }
  100% { transform: translateY(-100%); }
}

@keyframes slideInUpFade {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}