@use '../abstracts/variables' as v;

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; // Prevents main 3D experience from scrolling
  line-height: 1;
  font-family: 'Maple Mono NF', monospace;
}

// Global text utilities
.text-clamp-container {
  &.collapsed {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* Global visibility utilities */
.desktop-instructions, 
.mobile-instructions, 
.about-desktop, 
.about-mobile {
  display: none;
}

/* Show correct version based on body class */
.is-desktop {
  .desktop-instructions, .about-desktop { display: block; }
}

.is-mobile {
  .mobile-instructions, .about-mobile { display: block; }
}