@use '../abstracts/variables' as v;

// Resume / Sidebar styles
.resume-paragraph-header {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: v.$color-light;
  font-weight: bold;
  
  &.xsm-margin-top { margin-top: 10px; }
}

.resume-paragraph-text {
  font-size: 1rem;
  color: v.$color-light;
  line-height: 1.6;
  
  &.sm-font { font-size: 0.9rem; opacity: 0.8; }
  &.sm-margin-top { margin-top: 15px; }
}

.sidebar-about {
  strong {
    color: v.$color-accent;
    font-weight: bold;
  }
}

// Modal styles
.modal-paragraph-header {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: v.$color-light;
  font-weight: bold;
  
  &.xsm-margin-top { margin-top: 10px; }
}

.modal-paragraph-text {
  font-size: 1rem;
  line-height: 1.6;
  color: v.$powder;
  
  &.sm-font { font-size: 0.9rem; opacity: 0.8; }
  &.sm-margin-top { margin-top: 15px; }
}

ul {
  padding-left: 20px;
  margin-top: 10px;
  li { margin-bottom: 5px; }
}